.footer-container {
    padding: 5%;
    justify-content: space-evenly;
  }
  
  .footer-logo {
    width: 100px;
  }

footer a {
  color: #FFFFFF;
  margin-right: 0.5rem;
}

footer a:hover, footer svg:hover {
  color: #F4CE14;
  cursor: pointer;
}